*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(24, 0, 46);
    padding: 20px;
}

.box
{
font-size: 70px;
text-align: center;
margin: 50px;
background-image: url(https://media4.giphy.com/media/v1.Y2lkPTZjMDliOTUyMGR3cDJwdzk2bzMzZGtjOWZva2UxNHVvNzRsYXJjNmdwcmtjOHlzdiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3otO6NFBIAFg2vPZuM/giphy.gif);
background-clip: text;
background-size: cover;
color: transparent
}

.cardmain{
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}

.cardmain::-webkit-scrollbar
{
    background-color: aqua;
}

.cardmain::-webkit-scrollbar-thumb
{
    background-color: blue;
}

.card
{
    height: 300px;
    width: 200px;
    background-color: aqua;
    border-radius: 10px;
    flex-shrink: 0;
        overflow: hidden;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}